<h1>Burgers!</h1>
<div id="wrap">
<div id="div1">
<h2>Uneaten burgers!</h2>

<ol>
  {{#each burger}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour it!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ol>
</div>



<div id="div2">
<h2>Eaten burgers!</h2>

<ol>
  {{#each burger}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}


      </li>
    {{/if}}
  {{/each}}
</ol>
</div>
</div>

<div id="div3">
<h2>Order a burger:</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="burger_name">
  </div>

  <div class="form-group">
    <label for="slee">Enter a burger you would like to eat. Click the "Order Up!" bitton.</label><br>

  </div>

  <button type="submit">Order Up!</button>
</form>
</div>
